<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500' rel='stylesheet' type='text/css'>
  <style type="text/css">
    {{{style}}}
  </style>
  <link rel="stylesheet" href="theme/styles.css">
</head>
<body>
  {{{slideshow}}}
  <script type="text/javascript">
    {{{script}}}
  </script>
</body>
</html>