.slide-content {
  margin: 40px auto 0 auto;
}

.pic {
	margin-top:40px;
}
.pic img {
	height:450px;
}
.center {
	font-size: 22px;
	text-align: center;
}

.vertical {
	margin-top:200px;
	text-align: center;
}